<section>
<h1 class="text-center py-5">Productos</h1>
<div class="container">
    <div class="row justify-content-around">
{{#each pList}}
        
    <div class="col-4">
        <div class="card">
        <img src={{this.thumbnail}} class="card-img-top" alt={{this.title}}>
        <div class="card-body text-center">
            <h5 class="card-title fs-4">{{this.title}}</h5>
            <p class="card-text ">{{this.description}}</p>
            <p class="card-text fs-6 fw-bold">Precio:${{this.price}}</p>
            <div class="d-flex justify-content-center">
                <a href="#" class="btn btn-primary">Añadir al carrito</a>
            </div>
        </div>
        </div>
        </div>
{{/each}}
    </div>
</div>

</section>